<header>
    <div class="content">
        <a id="menu-logo" href="#"></a>
        <a id="menu-btn" (click)="toggleMenu($event)" href="#"></a>
    </div>
</header>
<div class="content">
    <div class="search-panel-column" [ngClass]="{'responsive-menu': menuVisible}">
        <ul class="filters">
            
            <li *ngFor="let i of checkBoxFilters">
                <check-box-filter [filter]="i" (filterChanged)="searchProducts()"></check-box-filter>
            </li> 
            <li *ngFor="let i of dropDownFilter">
                <drop-down-filter [filter]="i" (filterChanged)="searchProducts()"></drop-down-filter>
            </li>  
        </ul>
    </div>
    <div class="result">
        <div  *ngFor="let i of result">
            <search-item [item]="i"></search-item>
        </div>
    </div>
</div>